.bgImg1{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    height: 800px;
    background-position: center;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slogan{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about{
    color:black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bgImg2{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 500px;
    background-position: center;
}

.card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-show {
}
.card-show h4 {
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    font-weight: 600;
  }
  .card-hidden1,
  .card-hidden2,
  .card-hidden3 {
    font-size: 21px;
    display: none;
  }
  .card-hidden .title {
    font-size: 23px;
    font-weight: 600;
  }

div {
    padding: 10px;
  }

.col-md-3{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.bgImg3{
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 550px;
    background-position: center;
}

.social_icons{
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-inline-start: 5vh;
}

.col-md-6{
    color: white;
    padding: 10px;
    position: relative
}

.form-control {
    background: transparent;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 0.5px;
    border: 1px solid white;
    /*opacity: 0.4;*/
  }

#submitbtn {
    width: 100%;
    /*background-color: #4CAF50;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submitbtn:hover {
    background-color: #45a049;
  }

